// --------------------
// Definition of variables
$primary: #282828;
$secondary: #00564d;
$text: #ccc;
$danger: #e73f3f;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $secondary;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: $secondary;
  color: $text;
}

.info.info-danger {
  background-color: $danger;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-header {
    background-color: $primary;
    padding: 20px;

    a {
      color: $text;
      padding: 0 5px;
      text-decoration: unset;
    }
    a:hover {
      color: #eee;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
      color: #eee;
    }
  }
}

// --------------------
// Style for Home component
.Home {
  
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}